*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    text-align: center;
    color: palevioletred;
    margin: 30px;
 }

.description{
    text-align: center;
    color: black;
}

 .continer{
    max-width: 1200px;
    margin: 0 auto;  
 }


 .collumn{
    width: calc(100% / 3 - 30px);
    background-color: black;
    float: left;
    margin: 30px 15px;
 }

 .photo{
    width: 90px;
    margin-right: 10px;;
    float: left;
 }

 img{
    width: 100%;
 }

 .user{
    vertical-align: middle;
    padding: 15px;
    font-size: 15px;
 }
 
h3{
    color: white;
    vertical-align: middle;
}


 .name{
    color: white;
 }

 a{
    color: lightskyblue;
    font-size: 13px;
    text-decoration: none;
 }